<section style="padding: 0% 5% 0% 5%;">
	<p>{{ctrl.info.long_description}}</p>
</section>

<section layout="row" flex="100" style="width:80%; margin-left: auto; margin-right: auto;">

	<md-card>
		<md-card-title style="text-align: center;">Global summary</md-card-title>
		<md-card-content>
			<!-- 
			<table md-table md-row-select multiple>
				<thead md-head>
					<tr md-row>
						<th md-column style="text-align: center;" ng-repeat="col in data.header"><span>{{col}}</span></th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row md-auto-select ng-repeat="row in data.items">
						<td md-cell style="text-align: center;" ng-repeat="field in row"><span>{{field}}</span></td>
					</tr>
				</tbody>
		    </table>
		    -->
		    
		    <table md-table md-row-select multiple>
				<tbody md-body>
					<tr md-row md-auto-select ng-repeat="label in data.header track by $index">
						<td md-cell style="font-weight: bold;"><span>{{label}}</span></td>
						<td md-cell style="text-align: right;"><span>{{data.items[0][$index]}}</span></td>
					</tr>
				</tbody>
		    </table>
		    
		</md-card-content>
	</md-card>

	<div layout="column" flex="30">
		
		<md-card>
			<md-card-title>Fusion events by chromosome</md-card-title>
			<md-card-content>
			<canvas style="font-size:10em;" id="doughnut" class="chart chart-doughnut"
					chart-data="piedata"
					chart-labels="pielabels"
					chart-click="pieclick"
					chart-options="pieoptions">
			</canvas>
			</md-card-content>
		</md-card>

<!-- 
		<md-card layout-padding>
			<canvas id="line" class="chart chart-line" chart-data="chartdata"
				chart-labels="chartlabels" chart-series="chartseries" chart-options="options"
				chart-dataset-override="datasetOverride" chart-click="onClick">
			</canvas>
		</md-card>
		
		<md-card layout-padding>
			<canvas id="base" class="chart-horizontal-bar"
			  chart-data="histdata" chart-labels="histlabels" >
			</canvas>
		</md-card>
-->

	</div>
</section>